In [95]:
import pandas as pd

In [96]:
df_fe_grids = pd.read_csv(
    'Data/Processed_Datasets/Combined_tables/df_grids_keys.csv')
df_incidents = pd.read_csv(
    'Data/Processed_Datasets/Cleaned_datasets/df_incidents.csv')

In [97]:
df_incidents.columns

Index(['Unnamed: 0', 'INCIDENT_NBR', 'DATE', 'DESCRIPTION_GROUPE', 'CASERNE',
       'DIVISION', 'NOMBRE_UNITES', 'LONGITUDE', 'LATITUDE', 'DAY', 'MONTH',
       'YEAR', '1000_GRID_ID'],
      dtype='object')

In [98]:
df_fe_grids.sort_values(['1000_GRID_ID', 'MONTH'])

       Unnamed: 0  1000_GRID_ID    MONTH CODEMAMROT
0               0  -1xcNei0iJs=  2015-01      REM34
1               1  -1xcNei0iJs=  2015-02      REM34
2               2  -1xcNei0iJs=  2015-03      REM34
3               3  -1xcNei0iJs=  2015-04      REM34
4               4  -1xcNei0iJs=  2015-05      REM34
...           ...           ...      ...        ...
69253       69253  zzht2gM06A0=  2022-09      REM17
69254       69254  zzht2gM06A0=  2022-10      REM17
69255       69255  zzht2gM06A0=  2022-11      REM17
69256       69256  zzht2gM06A0=  2022-12      REM17
69257       69257  zzht2gM06A0=  2023-01      REM17

[69258 rows x 4 columns]

In [99]:
df_fe_grids = df_fe_grids[['1000_GRID_ID', 'MONTH', 'CODEMAMROT']]

### Number of incidents per grid and month

In [100]:
incident_counts = df_incidents.groupby(
    ['1000_GRID_ID', 'MONTH']).size().reset_index(name='INCIDENT_COUNT')

In [101]:
df_fe_incidents = df_fe_grids.merge(incident_counts,
                                    on=['1000_GRID_ID', 'MONTH'],
                                    how='left')

In [102]:
df_fe_incidents['INCIDENT_COUNT'] = df_fe_incidents['INCIDENT_COUNT'].fillna(0)

In [103]:
df_fe_incidents.describe(include='all')

        1000_GRID_ID    MONTH CODEMAMROT  INCIDENT_COUNT
count          69258    69258      69258    69258.000000
unique           714       97         34             NaN
top     x_WIs5Ez5c8=  2015-08      REM33             NaN
freq              97      714       5723             NaN
mean             NaN      NaN        NaN       13.030567
std              NaN      NaN        NaN       20.104554
min              NaN      NaN        NaN        0.000000
25%              NaN      NaN        NaN        0.000000
50%              NaN      NaN        NaN        5.000000
75%              NaN      NaN        NaN       18.000000
max              NaN      NaN        NaN      259.000000

In [104]:
df_fe_incidents.isnull().sum()

1000_GRID_ID      0
MONTH             0
CODEMAMROT        0
INCIDENT_COUNT    0
dtype: int64

### Number of incidents per grid and month for each description group (7)

In [105]:
incident_counts = pd.pivot_table(df_incidents,
                                 index=['1000_GRID_ID', 'MONTH'],
                                 columns='DESCRIPTION_GROUPE',
                                 values='INCIDENT_NBR',
                                 aggfunc='count')
incident_counts.columns = [f'{col}_INCIDENT_COUNT' for col in incident_counts.columns]
df_fe_incidents = df_fe_incidents.join(incident_counts,
                             on=['1000_GRID_ID', 'MONTH'])
df_fe_incidents = df_fe_incidents.fillna(0)

In [106]:
df_fe_incidents.describe(include='all')

,1000_GRID_ID,MONTH,CODEMAMROT,INCIDENT_COUNT,1-REPOND_INCIDENT_COUNT,AUTREFEU_INCIDENT_COUNT,Alarmes-incendies_INCIDENT_COUNT,FAU-ALER_INCIDENT_COUNT,INCENDIE_INCIDENT_COUNT,NOUVEAU_INCIDENT_COUNT,SANS FEU_INCIDENT_COUNT
count,69258,69258,69258,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000
unique,714,97,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,x_WIs5Ez5c8=,2015-08,REM33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,714,5723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.030567,8.562116,0.334257,1.554853,0.010670,0.143290,0.000058,2.425323
std,NaN,NaN,NaN,20.104554,13.776466,0.854555,3.023327,0.107013,0.439275,0.007600,4.021105
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,NaN,NaN,NaN,18.000000,12.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000
max,NaN,NaN,NaN,259.000000,200.000000,17.000000,50.000000,4.000000,7.000000,1.000000,68.000000

In [107]:
sums = df_fe_incidents.select_dtypes(exclude=['object']).sum()
sums

INCIDENT_COUNT                      902471.0
1-REPOND_INCIDENT_COUNT             592995.0
AUTREFEU_INCIDENT_COUNT              23150.0
Alarmes-incendies_INCIDENT_COUNT    107686.0
FAU-ALER_INCIDENT_COUNT                739.0
INCENDIE_INCIDENT_COUNT               9924.0
NOUVEAU_INCIDENT_COUNT                   4.0
SANS FEU_INCIDENT_COUNT             167973.0
dtype: float64

### Number of fire incidents per grid and month (SUM: â€˜Alarmes-incendiesâ€™, â€˜AUTREFEUâ€™, â€˜INCENDIE)

In [108]:
df_fe_incidents['FIRE_INCIDENT_COUNT'] = df_fe_incidents.loc[:, ['AUTREFEU_INCIDENT_COUNT',
                                                   'Alarmes-incendies_INCIDENT_COUNT',
                                                       'INCENDIE_INCIDENT_COUNT']].sum(axis=1)

In [109]:
sums = df_fe_incidents.select_dtypes(exclude=['object']).sum()
sums

INCIDENT_COUNT                      902471.0
1-REPOND_INCIDENT_COUNT             592995.0
AUTREFEU_INCIDENT_COUNT              23150.0
Alarmes-incendies_INCIDENT_COUNT    107686.0
FAU-ALER_INCIDENT_COUNT                739.0
INCENDIE_INCIDENT_COUNT               9924.0
NOUVEAU_INCIDENT_COUNT                   4.0
SANS FEU_INCIDENT_COUNT             167973.0
FIRE_INCIDENT_COUNT                 140760.0
dtype: float64

### Number of fire stations involved per grid and month

In [110]:
df_incidents.sort_values(['1000_GRID_ID', 'MONTH'])
df_grouped = df_incidents.groupby(['1000_GRID_ID', 'MONTH'])[
    'CASERNE'].nunique().rename('UNIQUE_FIRE_STATION_COUNT').reset_index()
print(df_grouped)

       1000_GRID_ID    MONTH  UNIQUE_FIRE_STATION_COUNT
0      -1xcNei0iJs=  2015-01                          2
1      -1xcNei0iJs=  2015-02                          2
2      -1xcNei0iJs=  2015-03                          1
3      -1xcNei0iJs=  2015-04                          2
4      -1xcNei0iJs=  2015-05                          1
...             ...      ...                        ...
48007  zzht2gM06A0=  2022-05                          1
48008  zzht2gM06A0=  2022-06                          1
48009  zzht2gM06A0=  2022-07                          1
48010  zzht2gM06A0=  2022-08                          1
48011  zzht2gM06A0=  2022-10                          1

[48012 rows x 3 columns]

In [111]:
df_grouped

       1000_GRID_ID    MONTH  UNIQUE_FIRE_STATION_COUNT
0      -1xcNei0iJs=  2015-01                          2
1      -1xcNei0iJs=  2015-02                          2
2      -1xcNei0iJs=  2015-03                          1
3      -1xcNei0iJs=  2015-04                          2
4      -1xcNei0iJs=  2015-05                          1
...             ...      ...                        ...
48007  zzht2gM06A0=  2022-05                          1
48008  zzht2gM06A0=  2022-06                          1
48009  zzht2gM06A0=  2022-07                          1
48010  zzht2gM06A0=  2022-08                          1
48011  zzht2gM06A0=  2022-10                          1

[48012 rows x 3 columns]

In [112]:
df_fe_incidents = df_fe_incidents.merge(df_grouped,
                                        on=['1000_GRID_ID', 'MONTH'],
                                        how='left')

In [113]:
df_fe_incidents = df_fe_incidents.fillna(0)

In [114]:
df_fe_incidents.describe(include='all')

,1000_GRID_ID,MONTH,CODEMAMROT,INCIDENT_COUNT,1-REPOND_INCIDENT_COUNT,AUTREFEU_INCIDENT_COUNT,Alarmes-incendies_INCIDENT_COUNT,FAU-ALER_INCIDENT_COUNT,INCENDIE_INCIDENT_COUNT,NOUVEAU_INCIDENT_COUNT,SANS FEU_INCIDENT_COUNT,FIRE_INCIDENT_COUNT,UNIQUE_FIRE_STATION_COUNT
count,69258,69258,69258,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000
unique,714,97,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,x_WIs5Ez5c8=,2015-08,REM33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,714,5723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.030567,8.562116,0.334257,1.554853,0.010670,0.143290,0.000058,2.425323,2.032401,1.048543
std,NaN,NaN,NaN,20.104554,13.776466,0.854555,3.023327,0.107013,0.439275,0.007600,4.021105,3.658430,0.919432
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,NaN,NaN,NaN,18.000000,12.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,3.000000,2.000000
max,NaN,NaN,NaN,259.000000,200.000000,17.000000,50.000000,4.000000,7.000000,1.000000,68.000000,56.000000,5.000000

### Number of divisionsÂ involved per grid and month

In [115]:
df_grouped_d = df_incidents.groupby(['1000_GRID_ID', 'MONTH'])[
    'DIVISION'].nunique().rename('UNIQUE_DIVISION_COUNT').reset_index()
print(df_grouped_d)

       1000_GRID_ID    MONTH  UNIQUE_DIVISION_COUNT
0      -1xcNei0iJs=  2015-01                      2
1      -1xcNei0iJs=  2015-02                      1
2      -1xcNei0iJs=  2015-03                      1
3      -1xcNei0iJs=  2015-04                      1
4      -1xcNei0iJs=  2015-05                      1
...             ...      ...                    ...
48007  zzht2gM06A0=  2022-05                      1
48008  zzht2gM06A0=  2022-06                      1
48009  zzht2gM06A0=  2022-07                      1
48010  zzht2gM06A0=  2022-08                      1
48011  zzht2gM06A0=  2022-10                      1

[48012 rows x 3 columns]

In [116]:
df_fe_incidents = df_fe_incidents.merge(df_grouped_d,
                              on=['1000_GRID_ID', 'MONTH'],
                              how='left')

In [117]:
df_fe_incidents = df_fe_incidents.fillna(0)

In [118]:
df_fe_incidents.describe(include='all')

,1000_GRID_ID,MONTH,CODEMAMROT,INCIDENT_COUNT,1-REPOND_INCIDENT_COUNT,AUTREFEU_INCIDENT_COUNT,Alarmes-incendies_INCIDENT_COUNT,FAU-ALER_INCIDENT_COUNT,INCENDIE_INCIDENT_COUNT,NOUVEAU_INCIDENT_COUNT,SANS FEU_INCIDENT_COUNT,FIRE_INCIDENT_COUNT,UNIQUE_FIRE_STATION_COUNT,UNIQUE_DIVISION_COUNT
count,69258,69258,69258,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000
unique,714,97,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,x_WIs5Ez5c8=,2015-08,REM33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,714,5723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.030567,8.562116,0.334257,1.554853,0.010670,0.143290,0.000058,2.425323,2.032401,1.048543,0.796760
std,NaN,NaN,NaN,20.104554,13.776466,0.854555,3.023327,0.107013,0.439275,0.007600,4.021105,3.658430,0.919432,0.620801
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,NaN,NaN,NaN,18.000000,12.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,3.000000,2.000000,1.000000
max,NaN,NaN,NaN,259.000000,200.000000,17.000000,50.000000,4.000000,7.000000,1.000000,68.000000,56.000000,5.000000,6.000000

### Number of units deployed per grid and month

In [119]:
df_grouped_du = df_incidents.groupby(['1000_GRID_ID', 'MONTH'])[
    'NOMBRE_UNITES'].sum().rename('UNITS_DEPLOYED_SUM').reset_index()
print(df_grouped_du)

       1000_GRID_ID    MONTH  UNITS_DEPLOYED_SUM
0      -1xcNei0iJs=  2015-01                90.0
1      -1xcNei0iJs=  2015-02                71.0
2      -1xcNei0iJs=  2015-03                97.0
3      -1xcNei0iJs=  2015-04               106.0
4      -1xcNei0iJs=  2015-05                91.0
...             ...      ...                 ...
48007  zzht2gM06A0=  2022-05                 3.0
48008  zzht2gM06A0=  2022-06                 4.0
48009  zzht2gM06A0=  2022-07                12.0
48010  zzht2gM06A0=  2022-08                 7.0
48011  zzht2gM06A0=  2022-10                 3.0

[48012 rows x 3 columns]

In [120]:
df_fe_incidents = df_fe_incidents.merge(df_grouped_du,
                              on=['1000_GRID_ID', 'MONTH'],
                              how='left')

In [121]:
df_fe_incidents = df_fe_incidents.fillna(0)

In [122]:
df_fe_incidents.describe(include='all')

,1000_GRID_ID,MONTH,CODEMAMROT,INCIDENT_COUNT,1-REPOND_INCIDENT_COUNT,AUTREFEU_INCIDENT_COUNT,Alarmes-incendies_INCIDENT_COUNT,FAU-ALER_INCIDENT_COUNT,INCENDIE_INCIDENT_COUNT,NOUVEAU_INCIDENT_COUNT,SANS FEU_INCIDENT_COUNT,FIRE_INCIDENT_COUNT,UNIQUE_FIRE_STATION_COUNT,UNIQUE_DIVISION_COUNT,UNITS_DEPLOYED_SUM
count,69258,69258,69258,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.00000
unique,714,97,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,x_WIs5Ez5c8=,2015-08,REM33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,714,5723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.030567,8.562116,0.334257,1.554853,0.010670,0.143290,0.000058,2.425323,2.032401,1.048543,0.796760,23.52586
std,NaN,NaN,NaN,20.104554,13.776466,0.854555,3.023327,0.107013,0.439275,0.007600,4.021105,3.658430,0.919432,0.620801,37.59856
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,NaN,NaN,NaN,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,9.00000
75%,NaN,NaN,NaN,18.000000,12.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,3.000000,2.000000,1.000000,32.00000
max,NaN,NaN,NaN,259.000000,200.000000,17.000000,50.000000,4.000000,7.000000,1.000000,68.000000,56.000000,5.000000,6.000000,705.00000

### Average Number of units deployed per grid and month

In [123]:
df_grouped_avg_du = df_incidents.groupby(['1000_GRID_ID', 'MONTH'])[
    'NOMBRE_UNITES'].mean().rename('UNITS_DEPLOYED_MEAN').reset_index()
print(df_grouped_avg_du)

       1000_GRID_ID    MONTH  UNITS_DEPLOYED_MEAN
0      -1xcNei0iJs=  2015-01             1.730769
1      -1xcNei0iJs=  2015-02             1.479167
2      -1xcNei0iJs=  2015-03             1.940000
3      -1xcNei0iJs=  2015-04             2.038462
4      -1xcNei0iJs=  2015-05             1.685185
...             ...      ...                  ...
48007  zzht2gM06A0=  2022-05             3.000000
48008  zzht2gM06A0=  2022-06             2.000000
48009  zzht2gM06A0=  2022-07             6.000000
48010  zzht2gM06A0=  2022-08             3.500000
48011  zzht2gM06A0=  2022-10             1.500000

[48012 rows x 3 columns]

In [124]:
df_fe_incidents = df_fe_incidents.merge(df_grouped_avg_du,
                              on=['1000_GRID_ID', 'MONTH'],
                              how='left')

In [125]:
df_fe_incidents = df_fe_incidents.fillna(0)

In [126]:
df_fe_incidents.describe(include='all')

,1000_GRID_ID,MONTH,CODEMAMROT,INCIDENT_COUNT,1-REPOND_INCIDENT_COUNT,AUTREFEU_INCIDENT_COUNT,Alarmes-incendies_INCIDENT_COUNT,FAU-ALER_INCIDENT_COUNT,INCENDIE_INCIDENT_COUNT,NOUVEAU_INCIDENT_COUNT,SANS FEU_INCIDENT_COUNT,FIRE_INCIDENT_COUNT,UNIQUE_FIRE_STATION_COUNT,UNIQUE_DIVISION_COUNT,UNITS_DEPLOYED_SUM,UNITS_DEPLOYED_MEAN
count,69258,69258,69258,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.00000,69258.000000
unique,714,97,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,x_WIs5Ez5c8=,2015-08,REM33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,714,5723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.030567,8.562116,0.334257,1.554853,0.010670,0.143290,0.000058,2.425323,2.032401,1.048543,0.796760,23.52586,1.320874
std,NaN,NaN,NaN,20.104554,13.776466,0.854555,3.023327,0.107013,0.439275,0.007600,4.021105,3.658430,0.919432,0.620801,37.59856,1.280187
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
50%,NaN,NaN,NaN,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,9.00000,1.393939
75%,NaN,NaN,NaN,18.000000,12.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,3.000000,2.000000,1.000000,32.00000,1.925000
max,NaN,NaN,NaN,259.000000,200.000000,17.000000,50.000000,4.000000,7.000000,1.000000,68.000000,56.000000,5.000000,6.000000,705.00000,46.000000

# Output file

In [127]:
df_fe_incidents.to_csv(
    'Data/Processed_Datasets/Combined_tables/df_fe_incidents.csv')