# Imports

In [14]:
import pandas as pd
from datetime import datetime

# Data Cleaning

In [15]:
df_fire_stations = pd.read_csv('Data/Fire_stations/casernes.csv')

In [16]:
df_fire_stations.columns

Index(['CASERNE', 'NO_CIVIQUE', 'RUE', 'LATITUDE', 'LONGITUDE',
       'ARRONDISSEMENT', 'VILLE', 'DATE_DEBUT', 'DATE_FIN', 'MTM8_X',
       'MTM8_Y'],
      dtype='object')

In [17]:
df_fire_stations.head()

,CASERNE,NO_CIVIQUE,RUE,LATITUDE,LONGITUDE,ARRONDISSEMENT,VILLE,DATE_DEBUT,DATE_FIN,MTM8_X,MTM8_Y
0,3,256,rue Young,45.493454,-73.560172,LE SUD-OUEST,NaN,2015-01-01T07:00:00,NaN,300097.0,5039283.0
1,15,1255,rue de la Sucrerie,45.484419,-73.560917,LE SUD-OUEST,NaN,2015-01-01T07:00:00,NaN,300038.0,5038279.0
2,23,523,place Saint-Henri,45.477820,-73.585257,LE SUD-OUEST,NaN,2015-01-01T07:00:00,NaN,298134.6,5037547.3
3,33,6040,boulevard Monk,45.457841,-73.595450,LE SUD-OUEST,NaN,2015-01-01T07:00:00,NaN,297335.0,5035328.0
4,9,8100,boulevard Saint-Michel,45.563748,-73.610169,VILLERAY-SAINT-MICHEL-PARC-EXTENSION,NaN,2019-05-06T07:00:00,NaN,296200.0,5047099.0

In [18]:
df_fire_stations.dtypes

CASERNE             int64
NO_CIVIQUE          int64
RUE                object
LATITUDE          float64
LONGITUDE         float64
ARRONDISSEMENT     object
VILLE              object
DATE_DEBUT         object
DATE_FIN           object
MTM8_X            float64
MTM8_Y            float64
dtype: object

### Modify date columns

In [19]:
df_fire_stations['DATE_DEBUT'] = pd.to_datetime(
    df_fire_stations['DATE_DEBUT'])

In [20]:
df_fire_stations = df_fire_stations.rename(
    columns={'DATE_DEBUT': 'DATE'})

In [24]:
df_fire_stations['DAY'] = df_fire_stations['DATE'].dt.strftime('%Y-%m-%d')
df_fire_stations['MONTH'] = df_fire_stations['DATE'].dt.strftime('%Y-%m')
df_fire_stations['YEAR'] = df_fire_stations['DATE'].dt.strftime('%Y')

### Other cleaning

In [21]:
df_fire_stations = df_fire_stations.astype({'CASERNE': object})

In [22]:
df_fire_stations = df_fire_stations.drop(['NO_CIVIQUE', 'RUE', 'ARRONDISSEMENT', 'VILLE', 'DATE_FIN', 'MTM8_X', 'MTM8_Y'], axis=1)

In [23]:
df_fire_stations.dtypes

CASERNE              object
LATITUDE            float64
LONGITUDE           float64
DATE         datetime64[ns]
dtype: object

In [25]:
df_fire_stations.describe(include='all', datetime_is_numeric=True)

,CASERNE,LATITUDE,LONGITUDE,DATE,DAY,MONTH,YEAR
count,68.0,68.000000,68.000000,68,68,68,68
unique,68.0,NaN,NaN,NaN,3,3,3
top,79.0,NaN,NaN,NaN,2015-01-01,2015-01,2015
freq,1.0,NaN,NaN,NaN,57,57,57
mean,NaN,45.520471,-73.642306,2013-12-12 20:03:31.764707840,NaN,NaN,NaN
min,NaN,45.417779,-73.950016,1900-01-01 07:00:00,NaN,NaN,NaN
25%,NaN,45.477228,-73.672228,2015-01-01 07:00:00,NaN,NaN,NaN
50%,NaN,45.512427,-73.612212,2015-01-01 07:00:00,NaN,NaN,NaN
75%,NaN,45.549642,-73.565869,2015-01-01 07:00:00,NaN,NaN,NaN
max,NaN,45.697052,-73.492367,2019-05-06 07:00:00,NaN,NaN,NaN
std,NaN,0.061408,0.109840,NaN,NaN,NaN,NaN

In [26]:
df_fire_stations.shape

(68, 7)

In [27]:
df_fire_stations = df_fire_stations.sort_values([
    'MONTH', 'DAY'])

In [28]:
df_fire_stations.head()

,CASERNE,LATITUDE,LONGITUDE,DATE,DAY,MONTH,YEAR
60,79,45.483487,-73.639332,1900-01-01 07:00:00,1900-01-01,1900-01,1900
0,3,45.493454,-73.560172,2015-01-01 07:00:00,2015-01-01,2015-01,2015
1,15,45.484419,-73.560917,2015-01-01 07:00:00,2015-01-01,2015-01,2015
2,23,45.477820,-73.585257,2015-01-01 07:00:00,2015-01-01,2015-01,2015
3,33,45.457841,-73.595450,2015-01-01 07:00:00,2015-01-01,2015-01,2015

In [29]:
df_fire_stations.to_csv(
    'Data/Processed_Datasets/Cleaned_datasets/df_fire_stations.csv')