In [416]:
import geopandas as gpd
import pandas as pd

In [417]:
df_fe_grids = pd.read_csv(
    'Data/Processed_Datasets/Combined_tables/df_grids_keys.csv')
df_incidents = pd.read_csv(
    'Data/Processed_Datasets/Cleaned_datasets/df_incidents.csv')
df_crimes = pd.read_csv(
    'Data/Processed_Datasets/Cleaned_datasets/df_crimes.csv')
df_weather = pd.read_csv(
    'Data/Processed_Datasets/Cleaned_datasets/df_weather.csv')

In [418]:
df_fe_grids.columns

Index(['Unnamed: 0', '1000_GRID_ID', 'MONTH', 'CODEMAMROT'], dtype='object')

In [419]:
df_incidents.columns

Index(['Unnamed: 0', 'INCIDENT_NBR', 'DATE', 'DESCRIPTION_GROUPE', 'CASERNE',
       'DIVISION', 'NOMBRE_UNITES', 'LONGITUDE', 'LATITUDE', 'DAY', 'MONTH',
       'YEAR', '1000_GRID_ID'],
      dtype='object')

In [420]:
df_crimes.columns

Index(['Unnamed: 0', 'CATEGORIE', 'DATE', 'QUART', 'LONGITUDE', 'LATITUDE',
       'DAY', 'MONTH', 'YEAR', '1000_GRID_ID', 'CRIMES_ID'],
      dtype='object')

In [421]:
df_weather.columns

Index(['Unnamed: 0', 'DATE', 'temperature_2m_max (°C)',
       'temperature_2m_min (°C)', 'temperature_2m_mean (°C)',
       'shortwave_radiation_sum (MJ/m²)', 'precipitation_sum (mm)',
       'rain_sum (mm)', 'snowfall_sum (cm)', 'windspeed_10m_max (km/h)',
       'windgusts_10m_max (km/h)', 'winddirection_10m_dominant (°)',
       'et0_fao_evapotranspiration (mm)', 'DAY', 'MONTH', 'YEAR'],
      dtype='object')

### Select columns from cleaned datasets

In [422]:
df_fe_grids = df_fe_grids[['1000_GRID_ID',
                           'MONTH']]

In [423]:
df_incidents = df_incidents[['1000_GRID_ID',
                             'INCIDENT_NBR',
                             'MONTH',
                             'DAY']]

In [424]:
df_crimes = df_crimes[['1000_GRID_ID',
                       'CRIMES_ID',
                       'MONTH',
                       'DAY']]

In [425]:
df_weather_cl = df_weather.drop(['Unnamed: 0',
                            'DATE',
                            'MONTH',
                            'YEAR'], axis=1)

### Join weather dataframe with crime & incident dataframe

In [426]:
df_incidents_weather = df_incidents.merge(df_weather_cl,
                              on=['DAY'],
                              how='left')

In [427]:
df_incidents_weather = df_incidents_weather.rename(columns={'INCIDENT_NBR': 'ROW_ID'})

In [428]:
df_incidents_weather.describe(include='all')

,1000_GRID_ID,ROW_ID,MONTH,DAY,temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),shortwave_radiation_sum (MJ/m²),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm)
count,902471,902471.000000,902471,902471,902471.000000,902471.000000,902471.000000,902471.000000,902471.000000,902471.000000,902471.000000,902471.000000,902471.000000,902471.000000,902471.000000
unique,568,NaN,97,2953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BSwXKT8NtyU=,NaN,2018-01,2019-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,15324,NaN,11727,987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,60268.769009,NaN,NaN,10.813691,2.129011,6.521506,13.384912,3.265471,2.605229,0.486071,17.189932,37.695196,199.032207,2.180175
std,NaN,36440.809910,NaN,NaN,12.389125,12.399989,12.205752,8.119295,6.581158,6.095437,1.755819,5.904692,13.252764,96.664459,1.740460
min,NaN,1.000000,NaN,NaN,-21.400000,-31.400000,-25.400000,0.460000,0.000000,0.000000,0.000000,4.900000,10.800000,0.000000,0.110000
25%,NaN,29036.000000,NaN,NaN,0.800000,-6.800000,-2.700000,6.390000,0.000000,0.000000,0.000000,12.800000,27.700000,126.000000,0.600000
50%,NaN,59361.000000,NaN,NaN,11.800000,3.400000,7.600000,12.140000,0.200000,0.000000,0.000000,16.400000,36.000000,229.000000,1.680000
75%,NaN,89898.000000,NaN,NaN,22.100000,13.100000,17.500000,20.140000,3.300000,1.900000,0.000000,20.900000,45.700000,272.000000,3.550000
max,NaN,500125.000000,NaN,NaN,33.800000,22.500000,27.900000,31.740000,68.500000,68.500000,23.030000,45.300000,99.700000,360.000000,7.560000

In [429]:
df_crimes_weather = df_crimes.merge(df_weather_cl,
                                          on=['DAY'],
                                          how='left')

In [430]:
df_crimes_weather = df_crimes_weather.rename(
    columns={'CRIMES_ID': 'ROW_ID'})

In [431]:
df_crimes_weather.describe(include='all')

,1000_GRID_ID,ROW_ID,MONTH,DAY,temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),shortwave_radiation_sum (MJ/m²),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm)
count,202858,202858,202858,202858,202858.000000,202858.000000,202858.000000,202858.000000,202858.000000,202858.000000,202858.000000,202858.000000,202858.000000,202858.000000,202858.000000
unique,540,202856,97,2953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BSwXKT8NtyU=,91168665,2015-10,2017-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,4424,2,2709,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,11.305313,2.755300,7.071980,13.405546,3.132860,2.583827,0.405063,17.110814,37.536892,198.598024,2.193431
std,NaN,NaN,NaN,NaN,11.856092,11.879888,11.671721,8.015745,6.311149,5.920326,1.558734,5.729441,12.865023,96.630605,1.695855
min,NaN,NaN,NaN,NaN,-21.400000,-31.400000,-25.400000,0.460000,0.000000,0.000000,0.000000,4.900000,10.800000,0.000000,0.110000
25%,NaN,NaN,NaN,NaN,1.700000,-5.300000,-1.600000,6.460000,0.000000,0.000000,0.000000,12.800000,27.700000,124.000000,0.660000
50%,NaN,NaN,NaN,NaN,12.400000,4.000000,8.200000,12.270000,0.200000,0.000000,0.000000,16.400000,36.000000,228.000000,1.750000
75%,NaN,NaN,NaN,NaN,21.900000,13.200000,17.500000,19.970000,3.300000,2.000000,0.000000,20.700000,45.700000,271.000000,3.520000
max,NaN,NaN,NaN,NaN,33.800000,22.500000,27.900000,31.740000,68.500000,68.500000,23.030000,45.300000,99.700000,360.000000,7.560000

### Calculate average weather metric  for each month

In [432]:
weather_columns_to_mean = ['temperature_2m_max (°C)',
                   'temperature_2m_min (°C)', 'temperature_2m_mean (°C)',
                   'shortwave_radiation_sum (MJ/m²)', 'precipitation_sum (mm)',
                   'rain_sum (mm)', 'snowfall_sum (cm)', 'windspeed_10m_max (km/h)',
                   'windgusts_10m_max (km/h)', 'winddirection_10m_dominant (°)',
                   'et0_fao_evapotranspiration (mm)']

In [433]:
df_weather_grouped_month = df_weather.groupby(['MONTH'])[weather_columns_to_mean].mean()
df_weather_grouped_month.columns = [col + '_MEAN' for col in weather_columns_to_mean]

In [434]:
df_weather_grouped_month = df_weather_grouped_month.reset_index()

In [435]:
df_weather_grouped_month.head(10)

,MONTH,temperature_2m_max (°C)_MEAN,temperature_2m_min (°C)_MEAN,temperature_2m_mean (°C)_MEAN,shortwave_radiation_sum (MJ/m²)_MEAN,precipitation_sum (mm)_MEAN,rain_sum (mm)_MEAN,snowfall_sum (cm)_MEAN,windspeed_10m_max (km/h)_MEAN,windgusts_10m_max (km/h)_MEAN,winddirection_10m_dominant (°)_MEAN,et0_fao_evapotranspiration (mm)_MEAN
0,2015-01,-7.464516,-19.390323,-13.051613,6.650000,1.670968,0.367742,0.989032,19.229032,39.361290,219.580645,0.403871
1,2015-02,-11.242857,-21.517857,-16.414286,10.603214,0.771429,0.000000,0.722500,17.575000,36.075000,223.178571,0.513214
2,2015-03,-1.074194,-11.283871,-5.803226,15.031290,1.458065,0.200000,0.966452,20.380645,42.335484,237.064516,1.283871
3,2015-04,9.393333,-0.940000,4.286667,17.929000,2.730000,2.360000,0.270667,19.353333,42.393333,184.066667,2.573333
4,2015-05,20.648387,9.116129,14.900000,21.652903,2.235484,2.235484,0.000000,18.435484,41.970968,203.387097,4.264516
5,2015-06,20.606667,11.893333,16.280000,20.028667,4.650000,4.650000,0.000000,15.783333,35.980000,191.033333,3.692667
6,2015-07,24.554839,15.890323,20.200000,21.573871,3.625806,3.625806,0.000000,15.390323,36.867742,223.838710,4.196774
7,2015-08,23.690323,16.229032,19.854839,17.832903,2.916129,2.916129,0.000000,14.896774,35.506452,212.193548,3.376129
8,2015-09,22.360000,13.493333,17.736667,15.639000,3.160000,3.160000,0.000000,15.526667,35.453333,165.433333,2.922000
9,2015-10,10.825806,3.580645,7.138710,9.803226,3.170968,3.145161,0.018065,18.087097,41.090323,212.516129,1.569032

In [436]:
df_weather_grouped_month.describe(include='all')

,MONTH,temperature_2m_max (°C)_MEAN,temperature_2m_min (°C)_MEAN,temperature_2m_mean (°C)_MEAN,shortwave_radiation_sum (MJ/m²)_MEAN,precipitation_sum (mm)_MEAN,rain_sum (mm)_MEAN,snowfall_sum (cm)_MEAN,windspeed_10m_max (km/h)_MEAN,windgusts_10m_max (km/h)_MEAN,winddirection_10m_dominant (°)_MEAN,et0_fao_evapotranspiration (mm)_MEAN
count,97,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000
unique,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2018-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,10.519771,1.874493,6.253104,13.376257,3.105333,2.464136,0.472157,17.147099,37.519357,198.744275,2.153244
std,NaN,11.291420,11.374071,11.228190,6.326063,1.175377,1.450804,0.598697,1.814752,3.505668,21.309187,1.482606
min,NaN,-11.242857,-21.517857,-16.414286,3.298387,0.480645,0.000000,0.000000,13.466667,27.935484,142.300000,0.338065
25%,NaN,0.206452,-8.545161,-4.274194,6.650000,2.416129,1.429032,0.000000,15.540000,35.053333,184.066667,0.678667
50%,NaN,10.825806,2.133333,6.422581,13.660645,3.126667,2.360000,0.121935,17.400000,37.467742,200.516129,1.726452
75%,NaN,21.516667,12.976667,17.020000,18.932581,3.790323,3.410000,0.941613,18.435484,40.116129,213.100000,3.649355
max,NaN,27.687097,18.758065,23.241935,23.258065,7.132258,7.132258,2.172258,21.650000,46.240000,249.870968,4.877097

### Union both combined weather dataframes

In [437]:
df_union_weather = pd.concat([df_incidents_weather,
                              df_crimes_weather])

In [438]:
df_union_weather.describe(include='all')

,1000_GRID_ID,ROW_ID,MONTH,DAY,temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),shortwave_radiation_sum (MJ/m²),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm)
count,1105329,1105329.0,1105329,1105329,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06,1.105329e+06
unique,568,334607.0,97,2953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BSwXKT8NtyU=,1.0,2018-01,2019-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,19748,9.0,13468,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.090392e+01,2.243952e+00,6.622533e+00,1.338870e+01,3.241133e+00,2.601302e+00,4.712037e-01,1.717541e+01,3.766614e+01,1.989525e+02,2.182608e+00
std,NaN,NaN,NaN,NaN,1.229450e+01,1.230857e+01,1.211138e+01,8.100391e+00,6.532639e+00,6.063682e+00,1.721625e+00,5.872997e+00,1.318259e+01,9.665835e+01,1.732367e+00
min,NaN,NaN,NaN,NaN,-2.140000e+01,-3.140000e+01,-2.540000e+01,4.600000e-01,0.000000e+00,0.000000e+00,0.000000e+00,4.900000e+00,1.080000e+01,0.000000e+00,1.100000e-01
25%,NaN,NaN,NaN,NaN,1.000000e+00,-6.600000e+00,-2.500000e+00,6.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.280000e+01,2.770000e+01,1.260000e+02,6.100000e-01
50%,NaN,NaN,NaN,NaN,1.190000e+01,3.600000e+00,7.700000e+00,1.216000e+01,2.000000e-01,0.000000e+00,0.000000e+00,1.640000e+01,3.600000e+01,2.290000e+02,1.700000e+00
75%,NaN,NaN,NaN,NaN,2.210000e+01,1.310000e+01,1.750000e+01,2.011000e+01,3.300000e+00,1.900000e+00,0.000000e+00,2.090000e+01,4.570000e+01,2.720000e+02,3.550000e+00
max,NaN,NaN,NaN,NaN,3.380000e+01,2.250000e+01,2.790000e+01,3.174000e+01,6.850000e+01,6.850000e+01,2.303000e+01,4.530000e+01,9.970000e+01,3.600000e+02,7.560000e+00

### Calculate average weather metrics from weather dataframe with incidents

In [439]:
weather_columns_to_mean = ['temperature_2m_max (°C)',
                           'temperature_2m_min (°C)', 'temperature_2m_mean (°C)',
                           'shortwave_radiation_sum (MJ/m²)', 'precipitation_sum (mm)',
                           'rain_sum (mm)', 'snowfall_sum (cm)', 'windspeed_10m_max (km/h)',
                           'windgusts_10m_max (km/h)', 'winddirection_10m_dominant (°)',
                           'et0_fao_evapotranspiration (mm)']

In [440]:
df_union_weather_grouped = df_union_weather.groupby(['1000_GRID_ID','MONTH'])[weather_columns_to_mean].mean()
df_union_weather_grouped.columns = [col + '_MEAN' for col in weather_columns_to_mean]

In [441]:
df_union_weather_grouped = df_union_weather_grouped.reset_index()

In [442]:
df_union_weather_grouped.describe(include='all')

,1000_GRID_ID,MONTH,temperature_2m_max (°C)_MEAN,temperature_2m_min (°C)_MEAN,temperature_2m_mean (°C)_MEAN,shortwave_radiation_sum (MJ/m²)_MEAN,precipitation_sum (mm)_MEAN,rain_sum (mm)_MEAN,snowfall_sum (cm)_MEAN,windspeed_10m_max (km/h)_MEAN,windgusts_10m_max (km/h)_MEAN,winddirection_10m_dominant (°)_MEAN,et0_fao_evapotranspiration (mm)_MEAN
count,48653,48653,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000
unique,568,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,9PJFl2kbd0A=,2022-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,10.744778,2.055875,6.453051,13.412298,3.278805,2.609347,0.491625,17.274247,37.847412,198.723794,2.178770
std,NaN,NaN,11.480381,11.524071,11.379484,6.729661,3.176291,3.057580,0.981515,3.142018,6.779632,46.096761,1.543810
min,NaN,NaN,-21.400000,-31.400000,-25.400000,0.460000,0.000000,0.000000,0.000000,5.500000,10.800000,0.000000,0.110000
25%,NaN,NaN,0.200000,-7.894595,-3.616000,6.850000,1.366667,0.550000,0.000000,15.256364,33.966667,175.193548,0.688182
50%,NaN,NaN,11.100000,2.900000,6.921569,13.564444,2.730435,1.966667,0.000000,17.090909,37.450000,201.866667,1.770000
75%,NaN,NaN,21.723077,12.900000,17.287719,19.129259,4.280000,3.628571,0.676154,18.975676,41.276506,225.739130,3.575000
max,NaN,NaN,33.800000,22.500000,27.900000,31.740000,64.800000,64.800000,23.030000,45.300000,99.700000,360.000000,7.560000

### Join union dataframe containing aggregated weather data with grid dataframe

In [443]:
df_fe_grids_weather = df_fe_grids.merge(df_union_weather_grouped,
                                    on=['1000_GRID_ID', 'MONTH'],
                                    how='left')

In [444]:
df_fe_grids_weather.describe(include='all')

,1000_GRID_ID,MONTH,temperature_2m_max (°C)_MEAN,temperature_2m_min (°C)_MEAN,temperature_2m_mean (°C)_MEAN,shortwave_radiation_sum (MJ/m²)_MEAN,precipitation_sum (mm)_MEAN,rain_sum (mm)_MEAN,snowfall_sum (cm)_MEAN,windspeed_10m_max (km/h)_MEAN,windgusts_10m_max (km/h)_MEAN,winddirection_10m_dominant (°)_MEAN,et0_fao_evapotranspiration (mm)_MEAN
count,69258,69258,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000
unique,714,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,F5Z7d0dP0CE=,2018-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,10.744778,2.055875,6.453051,13.412298,3.278805,2.609347,0.491625,17.274247,37.847412,198.723794,2.178770
std,NaN,NaN,11.480381,11.524071,11.379484,6.729661,3.176291,3.057580,0.981515,3.142018,6.779632,46.096761,1.543810
min,NaN,NaN,-21.400000,-31.400000,-25.400000,0.460000,0.000000,0.000000,0.000000,5.500000,10.800000,0.000000,0.110000
25%,NaN,NaN,0.200000,-7.894595,-3.616000,6.850000,1.366667,0.550000,0.000000,15.256364,33.966667,175.193548,0.688182
50%,NaN,NaN,11.100000,2.900000,6.921569,13.564444,2.730435,1.966667,0.000000,17.090909,37.450000,201.866667,1.770000
75%,NaN,NaN,21.723077,12.900000,17.287719,19.129259,4.280000,3.628571,0.676154,18.975676,41.276506,225.739130,3.575000
max,NaN,NaN,33.800000,22.500000,27.900000,31.740000,64.800000,64.800000,23.030000,45.300000,99.700000,360.000000,7.560000

In [445]:
df_fe_grids_weather.columns

Index(['1000_GRID_ID', 'MONTH', 'temperature_2m_max (°C)_MEAN',
       'temperature_2m_min (°C)_MEAN', 'temperature_2m_mean (°C)_MEAN',
       'shortwave_radiation_sum (MJ/m²)_MEAN', 'precipitation_sum (mm)_MEAN',
       'rain_sum (mm)_MEAN', 'snowfall_sum (cm)_MEAN',
       'windspeed_10m_max (km/h)_MEAN', 'windgusts_10m_max (km/h)_MEAN',
       'winddirection_10m_dominant (°)_MEAN',
       'et0_fao_evapotranspiration (mm)_MEAN'],
      dtype='object')

### Select rows with null values from 'df_fe_grids_weather' and fill from 'df_weather_grouped_month'

In [446]:
mask = df_fe_grids_weather.isnull().any(axis=1)
df_fe_grids_weather_nulls = df_fe_grids_weather[mask]
df_fe_grids_weather_nulls = df_fe_grids_weather_nulls[['1000_GRID_ID', 'MONTH']]

In [447]:
df_fe_grids_weather_nulls.describe(include='all')

        1000_GRID_ID    MONTH
count          20605    20605
unique           360       97
top     uIjnegHF5Uc=  2020-04
freq              97      263

In [448]:
df_fe_grids_weather_nulls = df_fe_grids_weather_nulls.merge(df_weather_grouped_month,
                                        on=['MONTH'],
                                        how='left')

In [449]:
df_fe_grids_weather_nulls.describe(include='all')

,1000_GRID_ID,MONTH,temperature_2m_max (°C)_MEAN,temperature_2m_min (°C)_MEAN,temperature_2m_mean (°C)_MEAN,shortwave_radiation_sum (MJ/m²)_MEAN,precipitation_sum (mm)_MEAN,rain_sum (mm)_MEAN,snowfall_sum (cm)_MEAN,windspeed_10m_max (km/h)_MEAN,windgusts_10m_max (km/h)_MEAN,winddirection_10m_dominant (°)_MEAN,et0_fao_evapotranspiration (mm)_MEAN
count,20605,20605,20605.000000,20605.000000,20605.000000,20605.000000,20605.000000,20605.000000,20605.000000,20605.000000,20605.000000,20605.000000,20605.000000
unique,360,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,uIjnegHF5Uc=,2020-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,10.301824,1.655267,6.036002,13.298144,3.097663,2.444291,0.481099,17.176996,37.554755,198.820570,2.128566
std,NaN,NaN,11.221511,11.307492,11.160411,6.284628,1.165066,1.439083,0.598540,1.817436,3.515666,21.139753,1.471272
min,NaN,NaN,-11.242857,-21.517857,-16.414286,3.298387,0.480645,0.000000,0.000000,13.466667,27.935484,142.300000,0.338065
25%,NaN,NaN,-0.658065,-8.932258,-4.393548,6.582903,2.416129,1.406667,0.000000,15.540000,35.053333,184.066667,0.659643
50%,NaN,NaN,9.800000,1.513333,6.176667,13.572333,3.126667,2.354839,0.130667,17.403226,37.467742,200.516129,1.705806
75%,NaN,NaN,21.516667,12.976667,17.020000,18.932581,3.790323,3.410000,0.948387,18.445161,40.116129,213.100000,3.649355
max,NaN,NaN,27.687097,18.758065,23.241935,23.258065,7.132258,7.132258,2.172258,21.650000,46.240000,249.870968,4.877097

### Fill 'df_fe_grids_weather' null values from 'df_fe_grids_weather_nulls'

In [451]:
df_fe_grids_weather_no_nulls = df_fe_grids_weather.dropna()

In [452]:
df_fe_grids_weather_no_nulls.describe(include='all')

,1000_GRID_ID,MONTH,temperature_2m_max (°C)_MEAN,temperature_2m_min (°C)_MEAN,temperature_2m_mean (°C)_MEAN,shortwave_radiation_sum (MJ/m²)_MEAN,precipitation_sum (mm)_MEAN,rain_sum (mm)_MEAN,snowfall_sum (cm)_MEAN,windspeed_10m_max (km/h)_MEAN,windgusts_10m_max (km/h)_MEAN,winddirection_10m_dominant (°)_MEAN,et0_fao_evapotranspiration (mm)_MEAN
count,48653,48653,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000,48653.000000
unique,568,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,9PJFl2kbd0A=,2022-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,10.744778,2.055875,6.453051,13.412298,3.278805,2.609347,0.491625,17.274247,37.847412,198.723794,2.178770
std,NaN,NaN,11.480381,11.524071,11.379484,6.729661,3.176291,3.057580,0.981515,3.142018,6.779632,46.096761,1.543810
min,NaN,NaN,-21.400000,-31.400000,-25.400000,0.460000,0.000000,0.000000,0.000000,5.500000,10.800000,0.000000,0.110000
25%,NaN,NaN,0.200000,-7.894595,-3.616000,6.850000,1.366667,0.550000,0.000000,15.256364,33.966667,175.193548,0.688182
50%,NaN,NaN,11.100000,2.900000,6.921569,13.564444,2.730435,1.966667,0.000000,17.090909,37.450000,201.866667,1.770000
75%,NaN,NaN,21.723077,12.900000,17.287719,19.129259,4.280000,3.628571,0.676154,18.975676,41.276506,225.739130,3.575000
max,NaN,NaN,33.800000,22.500000,27.900000,31.740000,64.800000,64.800000,23.030000,45.300000,99.700000,360.000000,7.560000

In [453]:
df_fe_grids_weather = pd.concat([df_fe_grids_weather_no_nulls,
                                 df_fe_grids_weather_nulls])
df_fe_grids_weather = df_fe_grids_weather.sort_values(['1000_GRID_ID', 'MONTH'])

In [454]:
df_fe_grids_weather.describe(include='all')

,1000_GRID_ID,MONTH,temperature_2m_max (°C)_MEAN,temperature_2m_min (°C)_MEAN,temperature_2m_mean (°C)_MEAN,shortwave_radiation_sum (MJ/m²)_MEAN,precipitation_sum (mm)_MEAN,rain_sum (mm)_MEAN,snowfall_sum (cm)_MEAN,windspeed_10m_max (km/h)_MEAN,windgusts_10m_max (km/h)_MEAN,winddirection_10m_dominant (°)_MEAN,et0_fao_evapotranspiration (mm)_MEAN
count,69258,69258,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000,69258.000000
unique,714,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,F5Z7d0dP0CE=,2018-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,97,714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,10.612994,1.936690,6.328974,13.378336,3.224913,2.560241,0.488494,17.245313,37.760343,198.752586,2.163834
std,NaN,NaN,11.405695,11.461446,11.316277,6.600557,2.738234,2.681267,0.885075,2.814208,5.998632,40.319598,1.522752
min,NaN,NaN,-21.400000,-31.400000,-25.400000,0.460000,0.000000,0.000000,0.000000,5.500000,10.800000,0.000000,0.110000
25%,NaN,NaN,0.170635,-8.150000,-3.830000,6.760167,1.670968,0.800000,0.000000,15.390323,34.600000,178.800000,0.678667
50%,NaN,NaN,10.825806,2.451364,6.588889,13.572333,2.887097,2.153333,0.019091,17.150000,37.467742,201.250000,1.735635
75%,NaN,NaN,21.650000,12.906401,17.200000,19.056209,4.033333,3.520000,0.760968,18.759217,40.875893,220.962963,3.594194
max,NaN,NaN,33.800000,22.500000,27.900000,31.740000,64.800000,64.800000,23.030000,45.300000,99.700000,360.000000,7.560000

# Output file

In [455]:
df_fe_grids_weather.to_csv(
    'Data/Processed_Datasets/Combined_tables/df_fe_weather.csv')

###